<!-- 게시물 클릭 시 인스타 게시물 클릭 한 것 처럼 뜨게 하는 곳-->

<div>
    <div>제목: <%= @board.title %></div>
    <div>내용: <%= @board.content %></div>
    <div>like, comment</div>
</div>
<a href="/board/<%= @board.profile_id %>">뒤로가기</a>