

<!-- 이미지 예제만 가져옴. db에서 불러오기 1도 안함. 
    link_to로 이미지 가져오기 수정해야함
-->
<div class="container">
    <div>
        <h1> 마이페이지 </h1>
        <%= link_to "Home", root_url %>
    </div>
    
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/mypage_example1.JPG">
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/mypage_example2.JPG">
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/mypage_example3.JPG">
      </div>
    </div>
</div>