<div class="devide_center">
    <div class="blank_for_center"></div>

    <div class="center_box">
    <img src="/newpost_word.png" >

    <%= render 'form' %>

    <%= link_to 'Back', posts_path %>
    </div>
</div>