<div class = "intro">
<!-- model:profile 안에 image를 넣어야함-->    
    <%= image_tag(@profile.image_url) %>
    <%= link_to "프로필 사진 변경", URL %>
    
    <!-- 자기소개 변경, 해야할것: 수정 전 introduction을 보이게 해야함-->
    <%= f.text_field :input_introduction %>
    <!-- 하는 게임 변경-->
    
    
    <!-- 하는 게임-->


    
</div>