<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <%= @profile.category.name %>
            </div>
        </div>
        <% if current_user.id == @temp.to_i %>
        <a class="btn btn-default" href="/boards/<%= @profile.id %>/new" role="button">글 쓰기</a>
        <% end %>
    </div>
</div>